extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Thêm mới người giúp việc

    form(
        action=`${prefixAdmin}/helpers/edit/${helper.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
        form-create-helper
    )
        div(class="form-group")
            label(for="helper_id") Chứng minh nhân dân *
            input(
                type="text"
                id="helper_id"
                name="helper_id"
                class="form-control"
                value=helper.helper_id
                required 
            )
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(
                type="text"
                id="fullName"
                name="fullName"
                class="form-control"
                value=helper.fullName
                required 
            )
        div(class="form-group")
            label(for="birthDate") Ngày sinh *
            input(
                type="date"
                id="birthDate"
                name="birthDate"
                class="form-control"
                value=newBirthDate
                required 
            )
        div(class="form-group")
            label(for="nationality") Dân tộc *
            input(
                type="text"
                id="nationality"
                name="nationality"
                class="form-control"
                value=helper.nationality
                required 
            )
        div(class="form-group")
            label(for="gender") Giới tính: 
            select(name="gender" id="gender" class="form-control")
                option(
                    value="male"
                    checked=(helper.gender == "male") ? true : false
                ) Nam 
                option(
                    value="female"
                    checked=(helper.gender == "female") ? true : false
                ) Nữ
        div(class="form-group")
            label(for="educationLevel") Trình độ học vấn: 
            select(name="educationLevel" id="educationLevel" class="form-control")
                option(
                    value="university"
                    checked=(helper.educationLevel == "university") ? true : false
                ) Đại học 
                option(
                    value="college"
                    checked=(helper.educationLevel == "college") ? true : false
                ) Cao đẳng
                option(
                    value="vocational"
                    checked=(helper.educationLevel == "vocational") ? true : false
                ) Trung cấp
                option(
                    value="general"
                    checked=(helper.educationLevel == "general") ? true : false
                ) Phổ thông
        div(class="form-group")
            label(for="height") Chiều cao (cm) *
            input(
                type="text"
                id="height"
                name="height"
                class="form-control"
                value=helper.height
                required 
            )
        div(class="form-group")
            label(for="weight") Cân nặng (kg) *
            input(
                type="text"
                id="weight"
                name="weight"
                class="form-control"
                value=helper.weight
                required 
            )
        div(class="form-group")
            label(for="phone") Số điện thoại *
            input(
                type="phone"
                id="phone"
                name="phone"
                class="form-control"
                value=helper.phone
                required 
            )
        div(class="form-group")
            label(for="birthPlace") Quê quán *
            input(
                type="text"
                id="birthPlace"
                name="birthPlace"
                class="form-control"
                value=helper.birthPlace
                required 
            )
        div(class="form-group")
            label(for="address") Địa chỉ thường trú *
            input(
                type="text"
                id="address"
                name="address"
                class="form-control"
                value=helper.address
                required 
            )
        div(class="form-group")
            label(for="jobDetail") Chi tiết công việc *

            label(for="fullTime") Full-time
            input(
                type="radio"
                name="jobDetail"
                id="fullTime"
                value="fullTime"
                checked=(helper.jobDetail == "fullTime") ? true : false
            )

            label(for="partTime") Part-time
            input(
                type="radio"
                name="jobDetail"
                value="partTime"
                id="partTime"
                checked=(helper.jobDetail == "partTime") ? true : false
            )
        div(class="form-group" workingArea)
            label(for="workingArea") Khu vực làm việc *
            
            label(for="province") Tỉnh/Thành phố 
            select(name="province" id="province" chooseProvinceSelect)
                each item in locations 
                    option(
                        value=item.province
                        selected=(helper.workingArea.province == item.province) ? true : false
                    ) #{item.province}

            label(for="district") Quận 
                div(chooseDistricts)
                    each location in locations 
                        if (helper.workingArea.province == location.province)
                            each item, index in location.districts
                                div 
                                    input(
                                        type="checkbox"
                                        name="districts"
                                        value=item.district
                                        checked=(helper.workingArea.districts[index] == item.district)
                                    ) 
                                    label(for="districts") #{item.district}
        div(class="form-group")
            label(for="yearOfExperience") Số năm kinh nghiệm *
            input(
                type="number"
                id="yearOfExperience"
                name="yearOfExperience"
                class="form-control"
                value=helper.yearOfExperience
                required 
            )
        div(class="form-group")
            span Công việc *

            each item in services
                label(for="jobs") #{item.title} 
                input(
                    type="checkbox"
                    name="jobs"
                    value=item.id
                    checked=(helper.jobs.includes(item.id) ? true : false)
                ) 
        div(class="form-group")
            label(for="experienceDescription") Mô tả kinh nghiệm *
            textarea(
                class="form-control textarea-mce"
                id="experienceDescription"
                name="experienceDescription"
                rows="5"
            ) #{helper.experienceDescription}
        div(class="form-group")
            label(for="fixed-salary") Lương cố định *
            input(
                type="text"
                id="fixed-salary"
                name="fixed-salary"
                class="form-control"
                required 
            )
        div(class="form-group")
            label(for="hour-salary") Lương theo giờ *
            input(
                type="text"
                id="hour-salary"
                name="hour-salary"
                class="form-control"
                required 
            )
        div(
            class="form-group"
            upload-image
        )
            label(for="avatar") Hình ảnh 
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            img(
                src=helper.avatar
                class="image-preview"
                upload-image-preview
            )
        div(
            class="form-group"
            upload-healthCertificate
        )
            label(for="healthCertificates") Giấy khám sức khỏe 
            input(
                type="file"
                class="form-control-file"
                id="healthCertificates"
                name="healthCertificates"
                accept="image/*"
                multiple
                upload-healthCertificate-input
            )
            div(upload-healthCertificate-preview)
                if (helper.healthCertificates.length > 0)
                    each item in helper.healthCertificates 
                        img(
                            src=item
                            class="image-preview"
                            upload-image-preview
                        )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(helper.status == "active") ? true : false
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(helper.status == "inactive") ? true : false
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật

    script(src="/js/helper.js") 
        