extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Thêm mới đơn hàng

    form(
        action=`${prefixAdmin}/requests/create`
        method="POST"
    )
        div(class="form-group")
            label(for="fullName") Họ và Tên khách hàng *
            input(
                type="text"
                id="fullName"
                name="fullName"
                class="form-control"
                required 
            )
        div(class="form-group")
            label(for="phone") Số điện thoại khách hàng *
            input(
                type="text"
                id="phone"
                name="phone"
                class="form-control"
                required 
            )
        div(class="form-group")
            label(for="address") Địa chỉ *
            input(
                type="text"
                id="address"
                name="address"
                class="form-control"
                required
            )
        div(class="form-group" requestArea)
            label(for="province") Tỉnh/Thành phố *
            select(name="province" class="form-control" chooseProvinceSelect)
                option(disabled selected) -- Chọn tỉnh/thành phố --
                each item in locations 
                    option(value=item.province) #{item.province}

            label(for="district") Quận * 
            select(name="district" class="form-control" chooseDistrictSelect)
                option(disabled selected) -- Chọn quận --
        div(class="form-group")
            label(for="service_id") Loại dịch vụ *
            select(name="service_id" class="form-control")
                option(disabled selected) -- Chọn dịch vụ --
                each item in services
                    option(
                        value=item.id
                        basicPrice=item.basicPrice 
                        extraFee=item.extraFee
                    ) #{item.title}
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="typeShortTerm"
                name="requestType"
                value="shortTerm"
                checked
            )
            label(for="typeShortTerm" class="form-check-label") Ngắn hạn
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="typeLongTerm"
                name="requestType"
                value="longTerm"
            )
            label(for="typeLongTerm" class="form-check-label") Dài hạn
        div(class="form-group" shortTerm)
            label(for="startDate") Ngày làm việc *
            input(
                type="date"
                id="requestDate"
                name="startDate"
                class="form-control"
            )
        div(class="form-group" longTerm)

        div(class="form-group")
            label(for="startTime") Giờ bắt đầu *
            select(name="startTime" class="form-control" chooseStartTimeSelect)
        div(class="form-group")
            label(for="endTime") Giờ kết thúc *
            select(name="endTime" class="form-control" chooseEndTimeSelect)
            
        table(class="table table-hover table-sm" calculateTotalPrice)
            thead 
                tr 
                    th Phí cơ bản 
                    th Phụ phí
                    th Phí ngoài giờ
                    th Tổng chi phí
            tbody 
                
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới

    script(src="/js/request.js")
        