extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)

    h1(class="mb-4") Thêm mới quận

    form(
        action=`${prefixAdmin}/locations/createDistrict`
        method="POST"
    )
        div(class="form-group")
            label(for="province") Tên khu vực
            select(
                name="province"
                id="province"
                class="form-control"
            )
                option(disabled selected) -- Chọn tỉnh/thành phố --
                if (locations)
                    each item in locations
                        option(value=item.province) #{item.province}

        div(class="form-group")
            label(for="district") Tên quận: *
            input(
                type="text"
                id="district"
                name="district"
                class="form-control"
                required
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
        